<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <ng-container *ngFor="let head of HeadArray">
                    <th>{{ head.Head }}</th>
                </ng-container>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of UsersList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td *ngIf="isAction">
                        <button (click)="editClicked(i )" class="btn btn-primary btn-sm">Edit</button>
                        <button (click)="deleteClicked(i)" class="btn btn-primary btn-sm m-lg-2">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>