@use '../scss/variables' as *;

.app {

  &__alert, &__jumbo, &__table, &__tabs, &__user {
    clear: both;
    display: block;
    margin: $global-spacing $global-spacing;
  }

  &__button {
    clear: both;
    display: block;
    margin: auto;
    width: max-content;
  }


  &__card {
    display: block;
    float: left;
    margin: $global-spacing $global-spacing;
  }
}